@page
@model PRN221_Project.Pages.Admin.Employee.IndexModel

@{
    ViewData["Title"] = "Employee";
}
<link rel="stylesheet" href="~/css/rootcss.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<h1>Employee</h1>


<input class=" form-control-sm border border-primary rounded-pill" type="text" id="searchTerm" placeholder="Search..." />

<p>
    <a class="btn btn-primary mt-2" asp-page="Create">Create New</a>
</p>
<a href="/admin">Back to overview</a>
<table class="table" id="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Username)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Fullname)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
                @if (item.Role == 1)
                {
                    <td>Admin</td>
                }
                @if(item.Role == 2)
                {
                    <td>Employee</td>
                }
            
            <td>
                    <a class="text-decoration-none" asp-page="./Edit" asp-route-id="@item.AccountId"> <i class="bi bi-pencil-fill"></i> Edit</a> |
                    <a class="text-decoration-none" asp-page="./Details" asp-route-id="@item.AccountId"> Details <i class="bi bi-list"></i></a>

            </td>
        </tr>
}
    </tbody>
</table>


