@page
@model PRN221_Project.Pages.Admin.Invoices.IndexModel

@{
    ViewData["Title"] = "Invoices";
}
@{
    var pagingmodel = new PRN221_Project.Helpers.PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? page) => "/Admin/Invoices?p=" + page
            };
}

<h1>Invoice</h1>
<form method="get">
    <div class="form-group">
        <input type="text" class="form-control w-25  border border-primary rounded-pill" asp-for="SearchKeyword" placeholder="Search customer...">
        <input type="date"   class=" m-2 border border-primary rounded-pil" asp-for="daySearch"/>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<a href="/admin">Back to overview</a>
<table class="table" id="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].TotalAmount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BankAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BankAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].DateRecorded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Account)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice.Skip((Model.currentPage - 1) * 10).Take(10))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                @if(item.PaymentType == 1)
                {
                    <td>Cash</td>
                }
                else
                {
                    <td>Tranfer</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRecorded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Fullname)
                </td>

                <td>

                    <a asp-page="./Details" asp-route-id="@item.InvoiceId">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Paging" model="@pagingmodel"></partial>
